.outlook_intro {
  border-top: 1px solid #f2c377;
  border-right: 1px solid #f2c377;
  border-left: 1px solid #f2c377;
}

.outlook_intro_container {
  border: 1px solid #f3c987;
  background-color: #f5d096;
  max-width: 100rem;
  margin: 2rem auto 0 auto;
  padding: 2rem;
}

.outlook_intro_container p { 
  font-size: 1.8rem;
  font-weight: 500;
  color: #70490b;
}

.outlets {
  display: grid;
  grid-template-columns: repeat(2, 50rem);
  grid-template-rows:repeat(2, 1fr);
  gap: 1rem;
  place-content: center;
  border-right: 1px solid #f2c377;
  border-left: 1px solid #f2c377;
  border-bottom: 1px solid #f2c377;
  padding: 1.5rem;
}

.outlets__item {
  position: relative;
}

.outlets__item img {
  width: 50rem;
  border-radius: 1rem;
  object-fit: cover;

}

.outlets__text {
  position: absolute;
  color: #70490B;
  inset: auto 0 0 0; 
  background-color: #fff;
  overflow: hidden;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 2rem;

}

.outlets__item a {
  position: absolute;
  inset: auto 0 1rem 30rem;
  font-size: 1.5rem;
  font-weight: 600;
  opacity: 1;
  max-width: 80%;
  transition: opacity 0.3s ease-out;
  color: inherit;
  text-decoration: none;
}

.back-button {
  display: none;
  position: fixed;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #fcf3e4;
  color: #322105;
  text-decoration: none;
  bottom: -15rem; /* Adjust as needed */
  opacity: 0;
  left: 30%; /* Position horizontally in the middle */
  transform: translateX(-50%);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  z-index: 555; /* Ensure it's above other content */
  transition: all 0.3s ease;
}


.material-symbols-outlined {
  vertical-align: middle;
}
  
@media (max-width:768px) {
  .outlook_intro_container {
    max-width: 90%;
    padding: 1rem;
  }

.outlets {
    grid-template-columns: 1fr;
    grid-template-rows:repeat(6, 1fr);
    gap: 1rem;
  }

  .outlets__item img {
      max-width: 100%;
  }
  
  .outlets__text {
    inset: auto auto 1rem 1rem; 
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1rem;
  }

  .outlets__item a {
    inset: auto 1rem 1rem auto;
    opacity: 1;
    font-size: 1.2rem;
    padding: 0.5rem;
    color: rgb(112, 73, 11);
    background-color: #fff;
    max-width: 80%;
  }
  .material-symbols-outlined {
    margin-right: 0.5rem;
  }
} 
