.pageContainer {
  background-color: #F5D096;
  border: 1px solid #F1BB67;
  user-select: none;
}

.acontents {
  margin: 1rem auto;
  padding: 2rem;
  max-width: 80%;
  background-color: #F6D7A6;
  color: #70490b;
  font-size: 1.6rem; 
}

.acontents__heading {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
  display: inline-block;
  border-bottom: 1px solid #F1BB67;
}

.sub-heading {
  font-size: 2rem;
  margin-left: 3rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.introduction,
.bdirectors, 
.bobjectives, 
.skvibact {
  margin-bottom: 5px;
  padding-bottom: 5px;

  transition: all 0.5s ease;
}

.introduction:hover,
.bdirectors:hover, 
.bobjectives:hover,
.skvibact:hover {
  padding: 1rem;
  color: #7F530D;
  background-color: #F9E5C5;
  border-radius: 1rem;
  box-shadow: 0px -25px 20px -20px rgba(0,0,0,0.45),
  25px 0px 20px -20px rgba(0,0,0,0.45),
  0px 25px 20px -20px rgba(0,0,0,0.45),
  -25px 0px 20px -20px rgba(0,0,0,0.45);
}

.introContent {
  margin-left: 1rem;
}

.introduction ol,
.bobjectives ol {
  margin-top: 1rem;
  margin-left: 4rem;
}

.introduction ol li {
  margin-bottom: 0.5rem;
}

.bdirectors ol {
  margin-left: 7rem;
}

.skvib__button a {
  text-decoration: none;
  color: #70490b;
  transition: color 0.5s ease;
}

.skvib__button a:hover {
  color: #fff;
}

.skvib__button {
  display: inline-block;
  padding: 1rem 2rem;
  border: 1px solid #F1BB67;
  transition: background-color 0.5s ease;
}

.skvib__button:hover {
  background-color: #70490b;
}
.back-button {
  display: none;
  position: fixed;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #fcf3e4;
  color: #322105;
  text-decoration: none;
  bottom: -15rem; /* Adjust as needed */
  opacity: 0;
  left: 30%; /* Position horizontally in the middle */
  transform: translateX(-50%);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  z-index: 555; /* Ensure it's above other content */
  transition: all 0.3s ease;
}


.material-symbols-outlined {
  vertical-align: middle;
}

@media (max-width: 768px) {
  .acontents {
    max-width: 100%;
  }

  .introContent {
    margin-left: 0;
  }

  .introduction ol,
  .bobjectives ol {
    margin-top: 1rem;
    margin-left: 1rem;
  }

  .sub-heading {
    margin-left: 1rem;
  }

  .bdirectors ol {
    margin-left: 1rem;
  }

  .introduction:hover,
  .bdirectors:hover, 
  .bobjectives:hover,
  .skvibact:hover {
    padding: 1rem;
    font-size: 1.5rem;
    color: #7F530D;
    background-color: #F9E5C5;
    border-radius: 0.5rem;
    box-shadow: none;
  }
}
