.gallery {
  padding: 1rem;
  position: relative;
 border: 1px solid #f2c377;
}

.product {
  position: relative;
}

.productHeading {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.gallery h1 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 2.5rem;
  color: #322105;
  display: inline-block;
  background-color: #F6D7A6;
  padding: 0.2rem 0.6rem;
  border-radius: 5px;
  font-weight: 900;
  font-style: italic;
}

.product img {
  width:100%;
  height:100%;
  object-fit:cover;
}

.gallery .ins {
  margin-top: 1rem;
  display:grid;
  grid-template-areas:
  "i1 i1 i2 "
  "i1 i1 i2 "
  "i3 i3 i3";
  width:100%;
  height:100%;
  gap: 16px;
}

#i1 {
  grid-area: i1; 
}

#i2 {
  grid-area:i2;
}

#i3 {
  grid-area: i3;
}

@media (max-width:1100px) {
  .gallery .ins {
    max-width:100%;
    grid-template-areas: 
    "i1 i1"
    "i2 i3";
  }
}

@media (max-width:786px) {
  .gallery .ins {
    max-width:100%;
    grid-template-areas: 
    "i1 i1"
    "i2 i2"
    "i3 i3";
  }
}
