.contact__container {
  background-color: #f5d096;
}

.contact {
  display: grid;
  grid-template-columns: repeat(2, 40rem);
  grid-template-rows:repeat(4, 1fr);
  gap: 1rem;
  place-content: center;
  border-top: 1px solid #f2c377;
  border-bottom: 1px solid #f2c377;
  padding: 1rem 0;
}

.box {
  width: 40rem;
  height: 20rem;
  background-color: #f2c377;

  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.box:hover {
  color: #7F530D;
  background-color: #F9E5C5;
  border-radius: 1rem;
  box-shadow: 0px -25px 20px -20px rgba(0,0,0,0.45),
  25px 0px 20px -20px rgba(0,0,0,0.45),
  0px 25px 20px -20px rgba(0,0,0,0.45),
  -25px 0px 20px -20px rgba(0,0,0,0.45);
}

.box span:nth-of-type(1) {
  font-size: 2rem;
  font-weight: 600;
  background-color: #F6D7A6;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.back-button {
  display: none;
  position: fixed;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #fcf3e4;
  color: #322105;
  text-decoration: none;
  bottom: -15rem; /* Adjust as needed */
  opacity: 0;
  left: 30%; /* Position horizontally in the middle */
  transform: translateX(-50%);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  z-index: 555; /* Ensure it's above other content */
  transition: all 0.3s ease;
}

.material-symbols-outlined {
  vertical-align: middle;
}


@media (max-width: 768px ) {
  .contact {
    grid-template-columns: 40rem;
    grid-template-rows:repeat(8, 1fr);
  } 
}
