.outlets_l {
  padding: 2rem;
 border: 1px solid #f2c377;
}

.location img {
  width:100%;
  height:100%;
  object-fit:cover;
}


.outlet_address {
  display: inline-block;
  background-color: rgba(205, 134, 20, 0.8);
  border-radius: 1rem;
  padding: 1rem 2rem;
  color: #fcf3e4;
  font-size: 1.5rem;
  letter-spacing: 0.075rem; 
}

.outlets_l .supermarket {
  margin-top: 1rem;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 40rem);
  grid-template-areas:
    "s1 s2 s2 s2"
    "s3 s3 s4 s4"
    "s5 s5 s6 s6"
    "s7 s7 s7 s7"
    "s8  s8 s9 s9";
  width:100%;
  height:100%;
  gap: 16px;
}

#s1 {
  grid-area: s1; 
}

#s2 {
  grid-area: s2; 
}

#s3 {
  grid-area: s3; 
}

#s4 {
  grid-area: s4; 
}

#s5 {
  grid-area: s5; 
}

#s6 {
  grid-area: s6; 
}

#s7 {
  grid-area: s7; 
}

#s8 {
  grid-area: s8; 
}

#s9 {
  grid-area: s9; 
}
.back-button {
  display: none;
  position: fixed;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #fcf3e4;
  color: #322105;
  text-decoration: none;
  bottom: -15rem; /* Adjust as needed */
  opacity: 0;
  left: 30%; /* Position horizontally in the middle */
  transform: translateX(-50%);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  z-index: 555; /* Ensure it's above other content */
  transition: all 0.3s ease;
}

.material-symbols-outlined {
  vertical-align: middle;
}



@media (max-width:768px) {
  .outlets_l {
    border: 1px solid #F1BB67;
  }
  .outlets_l .supermarket {
    max-width:100%;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(7,  30rem);
    grid-template-areas: 
    "s1 s2 "
    "s3 s3"
    "s4 s5"
    "s6 s6"
    "s7 s7"
    "s8  s8"
    "s9 s9";
  }
} 
